@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@font-face {
  font-family: "googlefont";
  src: url("./assests/OpenSans-Regular.ttf");
}

body {
  font-family: "googlefont";
}